{% extends "polen_web/base.html" %}
{% load staticfiles %}



{% block content %}

    <div id="allergen_measurements"></div>
    <div id="allergen_measurements_calendar"></div>

{% endblock %}



{% block scripts %}

    <script src="{% static 'js/google-charts.js' %}"></script>

    <script>
        google.load("visualization", "1.1", {packages:["corechart", "calendar"]});
        google.setOnLoadCallback(drawChart);
        google.setOnLoadCallback(drawChart2);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['date', 'value', 'medium', 'high'],

                {% for m in measurements %}
                    ['{{ m.date|date:"y/m/d" }}', {{ m.value }}, {{ medium_value }}, {{ high_value }}],
                {% endfor %}
            ]);

            var view = new google.visualization.DataView(data);

            var options = {
                title : 'Measurements for allergen',
                vAxis: {title: "Value"},
                hAxis: {title: "Day"},
                width: 1200,
                height: 550,
                series: {
                    0: {type: "bar"},
                    1: {type: "line"},
                    2: {type: "line"},
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById("allergen_measurements"));
            chart.draw(view, options);
        };

        function drawChart2() {
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'date', id: 'Date' });
            dataTable.addColumn({ type: 'number', id: 'Value' });

            {% for m in measurements %}
                dataTable.addRow([new Date({{ m.date|date:"Y"}},{{ m.date|date:"m"}},{{ m.date|date:"j"}}), {{ m.value }}]);
            {% endfor %}

            var options = {
                title : 'Measurements for allergen',
                width: 1200,
                height: 550
            };

            var chart = new google.visualization.Calendar(document.getElementById("allergen_measurements_calendar"));
            chart.draw(dataTable, options);
        };
    </script>

{% endblock %}
